<%= render 'layouts/main_banner' %>

<div id="news">
  <!--<div id="box-noticias">-->
	  <div id="actions">
	    <a class="prev">&laquo; <%= image_tag "Botao PNg.png", :height => "5%", :width => "8%" %></a>
	    <a class="next"> <%= image_tag "Botao 02 PNg.png", :height => "4%", :width => "7%"%> &raquo;</a>
	  </div> 
  <!--</div>-->
  <!-- root element for scrollable -->
  <div class="scrollable vertical">
    <!-- root element for the scrollable elements -->
    <div class="items">
      <!-- first element. contains three rows -->
      <% tam = @posts.size %>
      <% i = 0 %>
      <div>
      	<% while i <= 2 and i < tam do  %>
        <!-- first row -->
        <div class="item">        	
          <!-- image -->
          <%= image_tag @posts[i].imagem_url.to_s if @posts[i].imagem?%>         
          <!-- title -->
          <h3><%= @posts[i].title %></h3>
          <!-- content -->
          <p>
            <%= @posts[i].manchete %>
          </p>
          <%= link_to "LEIA MAIS", "noticias/" + @posts[i].id.to_s ,:class => "btn btn-large btn-primary"%>
        </div>    	
    	<hr>
      <% i = i + 1 %>
        <% end %> 
      </div>
      <!-- second element with another three rows (and so on) -->
      <div>
        <% while i <= 5 and i < tam do  %>
        <!-- first row -->
        <div class="item">          
          <!-- image -->
          <%= image_tag @posts[i].imagem_url.to_s if @posts[i].imagem?%>         
          <!-- title -->
          <h3><%= @posts[i].title %></h3>
          <!-- content -->
          <p>
            <%= @posts[i].manchete %>
          </p>
          <%= link_to "LEIA MAIS", "noticias/" + @posts[i].id.to_s ,:class => "btn btn-large btn-primary"%>
        </div>      
      <hr>
        <% i = i + 1 %>
        <% end %> 
      </div>
    </div>
    </div>
</div>
<script>
  $(function() {
      // initialize scrollable with mousewheel support
      $(".scrollable").scrollable({ vertical: true, mousewheel: true });
   });
</script>
<div id="espaco"></div>
<div id="second-content">
	<div class="infos">
		<div id="programacao">
			<h4> No Ar: <%= @prog_atual.nome if @prog_atual %></h4>
			<br/>
      <% if @prog_atual %>
      <h4> Apresentador: <%= @prog_atual.comunicadore.nome if @prog_atual.comunicadore %></h4>
			<br/>
      <%= image_tag @prog_atual.comunicadore.foto.to_s if @prog_atual.comunicadore.foto?%>
      <br/>
			<h4> A SEGUIR:  </h4>
			<br/>
			<h5> PROGRAMA <%= @prog_prox.nome %></h5>
			<br/>
      <%else %>
            <h4> Apresentador: </h4>
      <br/>
      
      <br/>
      <h4> A SEGUIR:  </h4>
      <br/>
      <h5> PROGRAMA </h5>
      <br/>
      <%end%>
		</div>
		<div id="recado">
			<h4> DEIXE SEU RECADO</h4>
			<br/>
			<%= form_for(@recado_ouvinte) do |f|%>				
				<%= f.text_field :nome, :placeholder => "Nome"%>
				
				<%= f.text_field :telefone, :placeholder => "Telefone"%>

				<%= f.text_field :email, :placeholder => "Email"%>
				
				<%= f.text_field :recado, :placeholder => "Recado"%>

				<%= f.submit "Enviar", :class => "btn btn-large btn-primary"%>
			<%end%>
		</div>
	</div>	
	<div id="banner">
		<%= render 'layouts/sec_banner' %>
	</div>
	<div id="clima-tempo">
		<!-- Widget Previs&atilde;o de Tempo CPTEC/INPE --><iframe allowtransparency="true" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no" src="http://www.cptec.inpe.br/widget/widget.php?p=2993&w=n&c=748ccc&f=ffffff" height="46px" width="312px"></iframe><noscript>Previs&atilde;o de <a href="http://www.cptec.inpe.br/cidades/tempo/2993">Londrina/PR</a> oferecido por <a href="http://www.cptec.inpe.br">CPTEC/INPE</a></noscript><!-- Widget Previs&atilde;o de Tempo CPTEC/INPE -->
   </div>
</div>