<%= form_for(@upload_main_banner) do |f| %>
  <% if @upload_main_banner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@upload_main_banner.errors.count, "error") %> prohibited this upload_main_banner from being saved:</h2>

      <ul>
      <% @upload_main_banner.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">    
    <%= f.file_field :mainbanner %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
