<h1>Listing upload_main_banners</h1>

<table>
  <tr>
    <th>Mainbanner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @upload_main_banners.each do |upload_main_banner| %>
  <tr>
    <%= image_tag upload_main_banner.mainbanner_url.to_s if upload_main_banner.mainbanner?%>    
    <td><%= link_to 'Show', upload_main_banner %></td>
    <td><%= link_to 'Edit', edit_upload_main_banner_path(upload_main_banner) %></td>
    <td><%= link_to 'Destroy', upload_main_banner, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Upload main banner', new_upload_main_banner_path %>
