<p id="notice"><%= notice %></p>

<p>
  <b>Mainbanner:</b>
  <%= @upload_main_banner.mainbanner %>
</p>


<%= link_to 'Edit', edit_upload_main_banner_path(@upload_main_banner) %> |
<%= link_to 'Back', upload_main_banners_path %>
