<%= form_for(@programacao) do |f| %>
  <% if @programacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@programacao.errors.count, "error") %> prohibited this programacao from being saved:</h2>

      <ul>
      <% @programacao.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome, :class => "input-large" %>
  </div>
  <div class="field">        
    <%= f.select(:comunicador_id, Comunicadore.all.collect {|p| [ p.nome, p.id ] }, {:prompt => 'Selecione um comunicador'}, :class => "input-large") %>
  </div>
  <div class="field">
    <%= f.select(:dia_id, Dia.all.collect {|p| [ p.nome, p.id ] }, {:prompt => 'Selecione um dia'}, :class => "input-large") %>
  </div>
  <div class="field">
    <%= f.label :hora_inicio %><br />
    <%= f.time_select :hora_inicio, :combined => true,
      :default => Time.now, :class => "input-large" %>
  </div>
 <div class="field">
    <%= f.label :hora_fim %><br />
    <%= f.text_field :hora_fim, :class => "input-large" %>
  </div>  
  <div class="field">
    <%= f.label :descricao %><br />
    <%= f.text_area :descricao, :rows => "8", :class => "input-xlarge"%>
  </div>
  <div class="actions">
    <%= f.submit "Criar Programação" %>
  </div>
<% end %>
