<h1>Editar Programação</h1>

<%= render 'form' %>
<div>
<%= link_to 'Mostrar', @programacao, :class => "btn btn-large btn-primary" %>  
<%= link_to 'Voltar', programacaos_path, :class => "btn btn-large btn-primary" %>
</div>