<h1>Listam de programações</h1>

<% @programacaos.each do |programacao| %>

    <div> Nome: <%= programacao.nome %></div>
     <% if programacao.comunicadore != nil %>
    <div> Comunicador: <%= programacao.comunicadore.nome%></div>
    <%end%>
    <div> Dia: <%= programacao.dia.nome %></div>
    <div> Hora início: <%= programacao.hora_inicio %></div>
    <div> Hora fim <%= programacao.hora_fim %></div>
    <div> Descroção da programação <%= programacao.descricao %></div>
    <br />
    <h3> <%= link_to 'Mostrar', programacao, :class => "btn btn-large btn-primary" %> <%= link_to 'Editar', edit_programacao_path(programacao), :class => "btn btn-large btn-primary" %> <%= link_to 'Excluir', programacao, :class => "btn btn-large btn-primary", :method => :delete, :data => { :confirm => 'Você tem certeza?' } %> </h3>     
    <hr />   
<% end %>


<br />
<br />

<h2><%= link_to 'Nova Programação', new_programacao_path, :class => "btn btn-large btn-primary" %></h2>
