<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @programacao.nome %>
</p>

<p>
  <b>Comunicador:</b>
  <%= @programacao.comunicadore.nome if @programacao.comunicadore %>
</p>

<p>
  <b>Dia:</b>
  <%= Dia.find(@programacao.dia_id).nome %>
</p>

<p>
  <b>Hora Inicio:</b>
  <%= @programacao.hora_inicio %>
</p>

<p>
  <b>Hora Fim:</b>
  <%= @programacao.hora_fim %>
</p>

<p>
  <b>Descricao:</b>
  <%= @programacao.descricao %>
</p>

<%= link_to 'Voltar', programacao_user_path, :class => "btn btn-large btn-primary" %> 
