<%= render 'layouts/main_banner' %>

<div id="caixa-conteudo">
<h2 id="h2custom">Programação</h2>
<hr>

<nav id="dia-programacao">
  <ul>
  <li><%= link_to "Segunda", "/programacao/dia/1"%></li>
  <li><%= link_to "Terça", "/programacao/dia/2"%></li> 
  <li><%= link_to "Quarta", "/programacao/dia/3"%></li> 
  <li><%= link_to "Quinta", "/programacao/dia/4"%></li> 
  <li><%= link_to "Sexta", "/programacao/dia/5"%></li> 
  <li><%= link_to "Sábado", "/programacao/dia/6"%></li> 
  <li><%= link_to "Domingo", "/programacao/dia/7"%></li> 
  </ul>
</nav>

<% @programacaos.each do |programacao| %>

    <div> Nome: <%= programacao.nome %></div>
    <div> Comunicador: <%= programacao.comunicadore.nome if programacao.comunicadore  %></div>
    <div> Horário: <%= programacao.hora_inicio %></div>
    <div> Descrição da programação <%= programacao.descricao %></div>
    <br/>
    <hr/>   
<% end %>

  <div id="paginacao-noticias">
    <div class="digg_pagination">
      <%= will_paginate @programacaos, :container => false %>
      </div>
  </div>

</div>

<%= render 'layouts/sec_banner' %>