<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @programacao.nome %>
</p>

<p>
  <b>Comunicador:</b>
  <%= Comunicadore.find(@programacao.comunicador_id).nome %>
</p>

<p>
  <b>Dia:</b>
  <%= Dia.find(@programacao.dia_id).nome %>
</p>

<p>
  <b>Hora Inicio:</b>
  <%= @programacao.hora_inicio %>
</p>

<p>
  <b>Hora Fim:</b>
  <%= @programacao.hora_fim %>
</p>

<p>
  <b>Descricao:</b>
  <%= @programacao.descricao %>
</p>

<div>
<%= link_to 'Editar', edit_programacao_path(@programacao), :class => "btn btn-large btn-primary" %> 
<%= link_to 'Voltar', programacaos_path, :class => "btn btn-large btn-primary" %> 
</div>