<h1>Listagem contatos</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th>Assunto</th>
    <th>Conteudo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contatos.each do |contato| %>
  <tr>
    <td><%= contato.nome %></td>
    <td><%= contato.email %></td>
    <td><%= contato.assunto %></td>
    <td><%= contato.conteudo %></td>
    <td><%= link_to 'Mostar', contato %></td>
    <td><%= link_to 'Editar', edit_contato_path(contato) %></td>
    <td><%= link_to 'Excluir', contato, :method => :delete, :data => { :confirm => 'Você tem certeza ?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Contato', new_contato_path %>
