<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @contato.nome %>
</p>

<p>
  <b>Email:</b>
  <%= @contato.email %>
</p>

<p>
  <b>Assunto:</b>
  <%= @contato.assunto %>
</p>

<p>
  <b>Conteudo:</b>
  <%= @contato.conteudo %>
</p>


<%= link_to 'Editar', edit_contato_path(@contato) %> |
<%= link_to 'Voltar', contatos_path %>
