<% provide(:title, 'Sign up') %>
<h1>Registre-se</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>

      <%= f.label :nome %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :senha %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmação" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Criar minha conta", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>