
<h1>Pagina Radio</h1>

<%= render 'form' %>
<div>
<%= link_to 'Mostrar', @radio, :class => "btn btn-large btn-primary" %> |
<%= link_to 'Voltar', radios_path, :class => "btn btn-large btn-primary" %>
</div>
<script type="text/javascript">
$(document).ready(function() {
   if ($('textarea').length > 0) {       
     var data = $('textarea');
     $.each(data, function(i) {
       CKEDITOR.replace(data[i].id);
     });     
   }  
});
</script>
