<div id="caixa-conteudo">
<table>
  <tr>
    <th>Descricao</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @radios.each do |radio| %>
  <tr>
    <td><%= radio.descricao.html_safe %></td>
      <td><%= link_to 'Mostrar', radio, :class => "btn btn-large btn-primary" %></td>      
    <td><%= link_to 'Editar', edit_radio_path(radio), :class => "btn btn-large btn-primary" %></td>      
  </tr>

<% end %>
</table>
</div>