<% provide(:title, 'Radio') %>
<%= render 'layouts/main_banner' %>
<div id="caixa-conteudo">
<% @radios.each do |radio| %>
  
  <%= radio.descricao.html_safe %>
  
<% end %>
</div>

<%= render 'layouts/sec_banner' %>