<h1>New radio</h1>

<%= render 'form' %>

<%= link_to 'Back', radios_path %>

<script type="text/javascript">
$(document).ready(function() {
   if ($('textarea').length > 0) {       
     var data = $('textarea');
     $.each(data, function(i) {
       CKEDITOR.replace(data[i].id);
     });     
   }  
});
</script>
