<div id="caixa-conteudo">

  <b>Descricao:</b>
  <%= @radio.descricao.html_safe %>



<%= link_to 'Editar', edit_radio_path(@radio), :class => "btn btn-large btn-primary" %> |
<%= link_to 'Volatr', radios_path, :class => "btn btn-large btn-primary" %>
</div>