<%= form_for(@comunicadore) do |f| %>
  <% if @comunicadore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comunicadore.errors.count, "error") %> prohibited this comunicadore from being saved:</h2>

      <ul>
      <% @comunicadore.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome, :class => "input-xxlarge" %>
  </div>
  <div class="field">
    <%= f.label :sobre %><br />
    <%= f.text_area :sobre, :class => "input-xxlarge", :rows =>"8" %>
  </div>
  <div class="field">
    <%= f.label :contato %><br />
    <%= f.text_field :contato, :class => "input-xxlarge" %>
  </div>

  <div class="field">
    <%= f.label :foto %><br />
    <%= f.file_field :foto, :class => "input-large" %>
  </div>
 
  <div class="actions">
    <%= f.submit "Atualizar comunicadores" %>
  </div>
<% end %>
