<%= render 'layouts/main_banner' %>
<div id="caixa-conteudo">
<h2 id="h2custom">Comunicadores</h2>
<hr>

<% @comunicadores.each do |comunicadore| %>
    <div> <%= comunicadore.nome %></div>
	<div> Contato: <%= comunicadore.contato %></div> 
	<div>
	    <div style="position: relative; float: left;"><%= image_tag comunicadore.foto_url.to_s if comunicadore.foto?%> </div>    
	    <div style="position: relative; float: left;"> <%= comunicadore.sobre %></div>           
	</div>
<% end %>

  <div id="paginacao-noticias">
    <div class="digg_pagination">
      <%= will_paginate @comunicadores, :container => false %>
      </div>
  </div>

</div>

<%= render 'layouts/sec_banner' %>