<h1>Editing comunicadore</h1>

<%= render 'form' %>
<div>
<%= link_to 'Mostar', @comunicadore, :class => "btn btn-large btn-primary" %> |
<%= link_to 'Voltar', comunicadores_path, :class => "btn btn-large btn-primary" %>
</div>