<h1>Comunicadores</h1>

<table  class="table table-hover">
  <tr>
    <th></th>
    <th>Nome</th>
    <th>Sobre</th>
    <th>Contato</th>
    <th></th>
    <th></th>
    <th></th>    
  </tr>

<% @comunicadores.each do |comunicadore| %>
  <tr>
    <td><%= image_tag comunicadore.foto_url.to_s if comunicadore.foto?%> </td>
    <td><%= comunicadore.nome %></td>
    <td><%= comunicadore.sobre %></td>
    <td><%= comunicadore.contato %></td>    
    <td><%= link_to 'Mostar', comunicadore, :class => "btn btn-large btn-primary" %></td>
    <td><%= link_to 'Editar', edit_comunicadore_path(comunicadore), :class => "btn btn-large btn-primary" %></td>
    <td><%= link_to 'Excluir', comunicadore, :method => :delete, :data => { :confirm => 'Você tem certeza ?' }, :class => "btn btn-large btn-primary" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comunicadore', new_comunicadore_path %>
