<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @comunicadore.nome %>
</p>

<p>
  <b>Sobre:</b>
  <%= @comunicadore.sobre %>
</p>

<p>
  <b>Contato:</b>
  <%= @comunicadore.contato %>
</p>

<%= link_to 'Voltar', locutores_path %>
