<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @comunicadore.nome %>
</p>

<p>
  <b>Sobre:</b>
  <%= @comunicadore.sobre %>
</p>

<p>
  <b>Contato:</b>
  <%= @comunicadore.contato %>
</p>

<div>
<%= link_to 'Editar', edit_comunicadore_path(@comunicadore), :class => "btn btn-large btn-primary" %> |
<%= link_to 'Voltar', comunicadores_path, :class => "btn btn-large btn-primary" %>
</div>