<%= form_for(@upload_sec_banner) do |f| %>
  <% if @upload_sec_banner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@upload_sec_banner.errors.count, "error") %> prohibited this upload_sec_banner from being saved:</h2>

      <ul>
      <% @upload_sec_banner.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Primeiro_banner %><br />
    <%= f.file_field :secbanner1 %>
  </div>
  <div class="field">
    <%= f.label :Segundo_banner %><br />
    <%= f.file_field :secbanner2 %>
  </div>
  <div class="field">
    <%= f.label :Terceiro_banner %><br />
    <%= f.file_field :secbanner3 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
