<h1>Listing upload_sec_banners</h1>

<table>
  <tr>
    <th>Secbanner1</th>
    <th>Secbanner2</th>
    <th>Secbanner3</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @upload_sec_banners.each do |upload_sec_banner| %>
  <tr>

    <td><%= image_tag upload_sec_banner.secbanner1_url.to_s if upload_sec_banner.secbanner1?%></td>
    <td><%= image_tag upload_sec_banner.secbanner2_url.to_s if upload_sec_banner.secbanner2?%></td>
    <td><%= image_tag upload_sec_banner.secbanner3_url.to_s if upload_sec_banner.secbanner3?%></td>
    <td><%= link_to 'Show', upload_sec_banner %></td>
    <td><%= link_to 'Edit', edit_upload_sec_banner_path(upload_sec_banner) %></td>
    <td><%= link_to 'Destroy', upload_sec_banner, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Upload sec banner', new_upload_sec_banner_path %>
