<p id="notice"><%= notice %></p>

<p>
  <b>Secbanner1:</b>
  <%= @upload_sec_banner.secbanner1 %>
</p>

<p>
  <b>Secbanner2:</b>
  <%= @upload_sec_banner.secbanner2 %>
</p>

<p>
  <b>Secbanner3:</b>
  <%= @upload_sec_banner.secbanner3 %>
</p>


<%= link_to 'Edit', edit_upload_sec_banner_path(@upload_sec_banner) %> |
<%= link_to 'Back', upload_sec_banners_path %>
