<%= form_for(@recado_ouvinte) do |f| %>
  <% if @recado_ouvinte.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recado_ouvinte.errors.count, "error") %> prohibited this recado_ouvinte from being saved:</h2>

      <ul>
      <% @recado_ouvinte.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :telefone %><br />
    <%= f.text_field :telefone %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :recado %><br />
    <%= f.text_area :recado %>
  </div>
  <div class="actions">
    <%= f.submit "Criar Recado" %>
  </div>
<% end %>
