<table>
  <tr>
    <th>Nome</th>
    <th>Recado</th>
  </tr>

<% @recado_ouvintes.each do |recado_ouvinte| %>
  <tr>
    <td><%= recado_ouvinte.nome %></td>
    <td><%= recado_ouvinte.recado %></td>
  </tr>
<% end %>
</table>
