<h1>recado_ouvintes</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Telefone</th>
    <th>Email</th>
    <th>Recado</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recado_ouvintes.each do |recado_ouvinte| %>
  <tr>
    <td><%= recado_ouvinte.nome %></td>
    <td><%= recado_ouvinte.telefone %></td>
    <td><%= recado_ouvinte.email %></td>
    <td><%= recado_ouvinte.recado %></td>
    <td><%= link_to 'Mostra', recado_ouvinte %></td>
    <td><%= link_to 'Edita', edit_recado_ouvinte_path(recado_ouvinte) %></td>
    <td><%= link_to 'Exclui', recado_ouvinte, :method => :delete, :data => { :confirm => 'Você tem certeza ?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Recado ouvinte', new_recado_ouvinte_path %>
