<% provide(:title, 'Recados do ouvinte') %>
<%= render 'layouts/main_banner' %>
<div id="caixa-conteudo">
	<div id="box-content">
		<div id="newrecado">
		<h3>Envie seu recado</h3>
		<%= render 'form' %>
		</div>

		<div id="show-recado">
		<h3>Recados enviados</h3>
		<%= render 'recado' %>
		</div>
	</div>
</div>

<%= render 'layouts/sec_banner' %>
