<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @recado_ouvinte.nome %>
</p>

<p>
  <b>Telefone:</b>
  <%= @recado_ouvinte.telefone %>
</p>

<p>
  <b>Email:</b>
  <%= @recado_ouvinte.email %>
</p>

<p>
  <b>Recado:</b>
  <%= @recado_ouvinte.recado %>
</p>

<%= link_to 'Home', root_path %>
