<%= render 'layouts/main_banner' %>

<div id="caixa-conteudo">
<h2 id="h2custom">Noticías</h2>
<hr>
<p id="notice"><%= notice %></p>

<p>
  <b>Titulo</b>
  <%= @post.title %>
</p>

<p>
  <b>Manchete</b>
  <%= @post.manchete %>
</p>

<p>
  <%= image_tag @post.imagem_url.to_s %>
</p>


<p>
  <b>Notícia</b>
  <%= @post.description.html_safe %>
</p>

<%= link_to 'Voltar', noticias_path %>
</div>

<%= render 'layouts/sec_banner' %>