<%= render 'layouts/main_banner' %>

<div id="caixa-conteudo">
	<h2 id="h2custom">Notícias</h2>
<hr>
	<table>
	<% @posts.each do |post| %>
	  <tr>
	    <td><%= image_tag post.imagem_url.to_s if post.imagem?%></td>
	    <td> <%= link_to  post.title , mostrar_noticias_path(post) %></td>    
	  </tr>	  
	<% end %>
	</table>

	<div id="paginacao-noticias">
		<div class="digg_pagination">
	    <%= will_paginate @posts, :container => false %>
	  	</div>
	</div>
</div>

<%= render 'layouts/sec_banner' %>