<p id="notice"><%= notice %></p>

<p>
  <b>Titulo</b>
  <%= @post.title %>
</p>

<p>
  <b>Manchete</b>
  <%= @post.manchete %>
</p>

<p>
  <%= image_tag @post.imagem_url.to_s %>
</p>


<p>
  <b>Notícia</b>
  <%= @post.description.html_safe %>
</p>


<%= link_to 'Editar', edit_post_path(@post) %> |
<%= link_to 'Voltar', posts_path %>
