@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
#radio-on{
  position:relative;
  float:left;
  top: -15px;
  width:100%;
  height:35px;
}
/* universal */

html {
  overflow-y: scroll;
  background: transparent;
}

body {
  
  font-family: myriad pro;
  background: url('background.png');
  background-color: #3C3352;
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {  
  margin-left:-29px;
  margin-top:-29px;  
}

.navbar-fixed-top, .navbar-fixed-bottom {
position: relative;
top: -45px;
}
.navbar .nav {
  margin-top:-10px;
  li {
    a {
      color: white;
      &:hover { 
        color: $grayMediumLight;
      }
    }
  }  
}
#nav-header{
  position: relative;
  top: 15px;
}
.navbar-inner{
  background: url('nav.png');
  height: 100px;
}
/* container*/
.container{
  width: 1180px;
}
#conteudo{
  
}

/* footer */
.footer-admin{
  height: 60px;
}
footer {
  position: relative;
  float:left;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  background: url('background-footer.png');
  height: 378px;
  
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}
#link-social-networks{
  position: relative;
  float: left;  

}
#facebook{
  position: relative;
  float: left;  
  margin-left: 80px;
  margin-top: 60px;
  z-index: 3000;
}

#twitter{
  position: relative;
  float: left;
  margin-left: 80px;
  margin-top: 100px;  
}

#direitos-radio{
  position: relative;
  float: left;
  margin-top: 20px;
  margin-left: 180px;
}


#sec-nav{
  position: relative;
  background: url('barra-inferior.png'); 
  float:left;
  height:60px;
  width:1080px;
}

#nav-rodape{
  position: relative;
  float: left;
  margin-top: 20px;
  margin-left:20px;
}

#contato_nome{
  color: white;
  width: 160px;
  background: #1F358A;
}

#contato_email{
  color: white;
  width: 160px;
  background: #1F358A;
}

#contato_assunto{
  color: white;
  width: 160px;
  background: #1F358A;
}

#contato_conteudo{
  color: white;
  width: 160px;
  height: 73px; 
  background: #1F358A;  
}

#contato{
  position: relative;
  float: left; 
  margin-left: 80px;
  margin-top: 60px;
}


#contato-info{
  position: relative;
  float: left;

}
#contato-mensagem{
  position: relative;
  float: left;
}
#contato-enviar{
  position: relative;
  float: left;
  left: -325px;
  top: 86px;
}
/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

#caixa-conteudo{
  position: relative;
  float: left;
  margin-bottom: 20px;
  width: 935px;
  height: 560px;
  background-color: white;  
  border-radius:7px;  
   overflow:auto;
}

.sec-banner{
  margin-bottom: 10px;
  width: 200px;
  height: 160px;
  background-color: white;  
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  border-radius:7px;  
}

#sec-banner-box{
  position: relative;
  float: left;
  margin-left: 18px;
}

#h2custom{
  padding-top: 10px;  
  padding-left: 10px;  
  text-align: left;
}