// Place all the styles related to the Programacaos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#programacao_nome{	
	width: 300px;	
}
#programacao_comunicador_id{
	width: 300px;	
}

#programacao_dia_id{
	width: 300px;
}

#programacao_hora_inicio{
	width: 300px;
}

#programacao_hora_fim{
	width: 300px;
}

#programacao_descricao{
	width: 300px;
	height: 100px;
}

#dia-programacao ul {
    padding:0px;
    margin:0px;
    float: left;
    width: 100%;
    background-color:#EDEDED;
    list-style:none;
}

#dia-programacao ul li { display: inline; }

#dia-programacao ul li a {
    padding: 2px 10px;
    float:left;
    /* visual do link */
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
}

#dia-programacaoul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #EA0000;
}