// Place all the styles related to the RecadoOuvintes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#box-content{
    margin-left: auto;
    margin-right: auto;
    width: 40em;

}
#newrecado{
	float:left;
	margin-right:100px;
}
#show-recado{
	float:left;
}