/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Description: The default skin for the Nivo Slider.
Version: 1.3
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/

.sec-banner-theme .nivoSlider {
	position:relative;
	width: 200px;
  	height: 160px;
	background:#fff url(loading.gif) no-repeat 50% 50%;
    margin-bottom:10px;
    -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
}
.sec-banner-theme .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.sec-banner-theme .nivoSlider a {
	border:0;
	display:block;
}
