// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#espaco{
	position: relative;
	float: left;
	width: 500px;
	height: 1px;

}
#main-banner {
	width: 1180px;
	height: 400px;
	//background: #fff;

}

#second-content{
	height: 650px;	
}

/* Bloco de noticias */

#news{
	position: absolute;
	float: left;
	width: 515px;
	height: 720px;	
	background: url('new.png');
	top:  540px;
	z-index: 1;
	border-radius:7px;  
}

#actions{
	//background: url('retback.png');
	position: relative;
	z-index: 9999; 
	left: 10px;
    a {
      color: white;
      &:hover { 
        color: white;
        background: white;
      }
    }

}

#box-noticias{
	position: relative;
	float: left;
	width: 440px;
	height: 50px;
	color: #F5F2E1;
	z-index: 4;
}

.infos{
	float: left;
	position: relative;
	width: 300px;
	height: 420px;
	background: #fff;
	top:  30px;
	left: 45px;
	border-radius:7px;  
}


#banner{
	float: left;
	position: relative;
	width: 177px;
	height: 470px;	
	top: 30px;
	left: 165px;
}

#clima-tempo{
	float: left;
	position: relative;
	height: 130px;
	width: 266px;
	left: 545px;
	top: 45px;
}


  /* root element for scrollable */
  .vertical {
 
  /* required settings */
  position:relative;
  overflow:hidden;
  border-top:1px solid #ddd;
  /*
  vertical scrollables have typically larger height than width but
  not now
  */
  height: 665px;
  width: 515px;
  }
 
  /* root element for scrollable items */
 .items {
  position:absolute;
  margin: 0px;
  /* this time we have very large space for the height */
  height:20000em;
  }


/* single scrollable item */
.item {
    border-bottom:1px solid #ddd;
    margin:10px 0;
    padding:15px;
    font-size:12px;
    height:180px;
}

/* elements inside single item */
.item img {
    float:left;
    margin-right:20px;
    height:180px;
    width:240px;
}

.item h3 {
    margin:0 0 5px 0;
    font-size:16px;
    color:#456;
    font-weight:normal;
}

/* the action buttons above the scrollable */

#actions a {
    font-size:11px;
    cursor:pointer;
    color:#666;
}

#actions a:hover {
    text-decoration:underline;
    color:#000;
}

.disabled {
    visibility:hidden;
}

#recado_ouvinte_nome{
	color: white;
	width: 160px;
	background: #3D57B4;
}

#recado_ouvinte_telefone{
	color: white;
	width: 160px;
	background: #3D57B4;
}

#recado_ouvinte_email{
	color: white;
	width: 160px;
	background: #3D57B4;
}

#recado_ouvinte_recado{
	color: white;
	width: 160px;
	height: 60px;	
	background: #3D57B4;	
}

#programacao{
	position: relative;
	float: left;
}

#recado{
	position: absolute;
	float: left;
	left: 15px;
	top: 245px;
}

 .prev {
	margin-left: 350px;
}