<footer class="footer">
  <div id="link-social-networks">
    <div id="facebook">
      <div class="fb-like-box" data-href="http://www.facebook.com/platform" data-width="292" data-height="230" data-colorscheme="dark" data-show-faces="true" data-border-color="blac" data-stream="false" data-header="false"></div>
    </div>

    <div id="twitter">
      <a href="https://twitter.com/manchetelondrina" class="twitter-follow-button" data-show-count="false" data-lang="pt" data-size="large">Seguir @manchetelondrina</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
  <div id="contato">
    <h2>Entre em contato conosco</h2>
      <%= form_for(@contato) do |f|%>        
        <div id="contato-info">
          <%= f.text_field :nome, :placeholder => "Nome"%>
          <br/>
          <%= f.text_field :email, :placeholder => "Email"%>
          <br/>
          <%= f.text_field :assunto, :placeholder => "Assunto"%>
        </div>
        <div id="contato-mensagem">
          <%= f.text_field :conteudo, :placeholder => "Menssagem"%>
        </div>        
        <div id="contato-enviar">
          <%= f.submit "Enviar", :class => "btn btn-large btn-primary"%>
        </div>
      <%end%>
  </div>
  <div id="sec-nav">
    <small id="direitos-radio">
      radiomanchetelondrina.com.br | Todos Diretos Reservados
    </small>  
    <nav id="nav-rodape">
      <ul>
        <li><%= link_to "Home",    root_path %></li>
        <li><%= link_to "Radio",    mostrar_radio_path %></li>
        <li><%= link_to "Programação", '#' %></li>
        <li><%= link_to "Comunicadores", '#' %></li>
        <li><%= link_to "Recado do ouvinte", '#' %></li>
      </ul>
    </nav>
  </div>
</footer>