<footer class="footer-admin">
  <small id="direitos-radio">
    radiomanchetelondrina.com.br | Todos Diretos Reservados
  </small>  
  <nav id="nav-rodape">
    <ul>
      <li><%= link_to "Home",    root_path %></li>
      <li><%= link_to "Radio",    radios_path %></li>
      <li><%= link_to "Programação", '#' %></li>
      <li><%= link_to "Comunicadores", '#' %></li>
      <li><%= link_to "Recado do ouvinte", '#' %></li>
    </ul>
  </nav>
</footer>