<header class="navbar navbar-fixed-top">
<iframe id="radio-on" src="http://playaac.com/64.250.122.179/8032/player.html"></iframe>  
  <div class="navbar-inner">
    <div class="container">
      <%= image_tag  "manchete.png", :size => "230x100", :alt => "Edit Entry", :id => "logo" %>
      <nav id="nav-header">
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path,:class => "btn btn-large btn-primary"  %></li>
          <li><%= link_to "Radio",    mostrar_radio_path %></li>
          <li><%= link_to "Programação", "/programacao/dia/1"%></li>
          <li><%= link_to "Comunicadores", locutores_path %></li>
          <li><%= link_to "Notícias", noticias_path %></li>
          <li><%= link_to "Recado do ouvinte", new_recado_ouvinte_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
