<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">      
      <nav id="nav-header">
        <ul class="nav nav-tabs">
          <li><%= link_to "Pagina inicial",    root_path %></li>
          <li><%= link_to "Gerenciar pagina Radio",    radios_path %></li>
          <li><%= link_to "Gerenciar Programação", programacaos_path %></li>
          <li><%= link_to "Gerenciar Comunicadores", comunicadores_path %></li>
          <li><%= link_to "Gerenciar Notícias", posts_path %></li>
          <li><%= link_to "Gerenciar Recado do ouvinte", recado_ouvintes_path %></li>
          <li><%= link_to "Gerenciar Contatos", contatos_path %></li>
          <li><%= link_to "Gerenciar Banner Principal", upload_main_banners_path %></li>
          <li><%= link_to "Gerenciar Banners Secundários", upload_sec_banners_path %></li>          
        </ul>
      </nav>
    </div>
  </div>
</header>
