<div id="main-banner">
    <div id="wrapper">
        <div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider" >
                <% @upload_main_banners.each do |upload_main_banner| %>
                    <%= image_tag upload_main_banner.mainbanner_url.to_s if upload_main_banner.mainbanner?%> 
                <% end %>   
            </div>            
        </div>

    </div>
</div>
