<div id="sec-banner-box">

<div class="sec-banner">
        <div class="slider-wrapper sec-banner-themet">
            <div id="sec-slider1" class="nivoSlider" >
                <% @upload_sec_banners.each do |upload_sec_banner| %>
                    <%= image_tag upload_sec_banner.secbanner1_url.to_s if upload_sec_banner.secbanner1?%>
                <%end%>
            </div>            
        </div>
</div>
<div class="sec-banner">
        <div class="slider-wrapper sec-banner-themet">
            <div id="sec-slider2" class="nivoSlider" >
                <% @upload_sec_banners.each do |upload_sec_banner| %>
                    <%= image_tag upload_sec_banner.secbanner2_url.to_s if upload_sec_banner.secbanner2?%>
                <%end%>
            </div>            
        </div>
</div>
<div class="sec-banner">
        <div class="slider-wrapper sec-banner-themet">
            <div id="sec-slider3" class="nivoSlider" >
                <% @upload_sec_banners.each do |upload_sec_banner| %>
                    <%= image_tag upload_sec_banner.secbanner3_url.to_s if upload_sec_banner.secbanner3?%>
                <%end%>
            </div>            
        </div>
</div>
</div>