<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application_admin", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "jquery.tools.min" %>
    <%= javascript_include_tag "jquery.nivo.slider" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <div id="fb-root"></div>
    <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>

 	<%= render 'layouts/header_admin' %>
    <div class="container" id="conteudo">
      <%= yield %>
      <%= render 'layouts/footer_admin' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
    
  </body>
</html>