<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "jquery.tools.min" %>
    <%= javascript_include_tag "jquery.nivo.slider" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <div id="fb-root"></div>
    <script>
       (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>

 	<%= render 'layouts/header' %>
    <div class="container" id="conteudo">
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
    
   <script type="text/javascript">   
    $(window).load(function() {          
        $('#slider').nivoSlider({controlNav: false});
        $('#sec-slider1').nivoSlider({directionNav: false, controlNav: false});
        $('#sec-slider2').nivoSlider({directionNav: false, controlNav: false});
        $('#sec-slider3').nivoSlider({directionNav: false, controlNav: false});        
    });
   </script>
  </body>
</html>